body {
    margin: 30px;
}

.footer-design {
    background-color: rgb(46, 46, 46);
    color:white;
}

.flip-card {
    max-width: 275px;
    margin: auto;
    background-color: transparent;
    width: 300px;
    height: 700px;
    border: 1px solid #000000;
    perspective: 1000px; /* for 3D effect */
  }
  h1{
    font-size: 25px;
  }
  /* for positioning the front and back side */
  .flip-card-inner {

    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style:preserve-3d;
  }

  /* horizontal flip as the cursor comes on the flip-card */
  .flip-card:hover .flip-card-inner {
    transform:rotateY(180deg);
  }

  /*For positioning the front and back side */
  .flip-card-front, .flip-card-back {

    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Styling the front side */
  .flip-card-front {
    background-color: rgb(190, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(5, 2, 133, 0.315);
    max-width: 275px;
  }

  /* Styling the back side */
  .flip-card-back {
    background-color: rgb(190, 255, 255);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }

  /*designing the buy button*/
  .flip-card-back button {
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(241, 23, 23);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.5;
  }

  .price {
    color: rgb(255, 0, 0);
    font-size: 25px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }
